.App {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  transition: transform 0.3s;
  transform: translateX(-250px);
  overflow: hidden;
}

.sidebar.open {
  transform: translateX(0);
}

button {
  margin: 10px;
}